<h2>Login</h2>
{{if .messDefault}}
  <h3>{{.messDefault}}</h3>
{{end}}
{{if .messError}}
  <h3 style="color:red">{{.messError}}</h3>
{{end}}
<form method="post" action="/login" enctype="multipart/form-data">
  <input type="text" name="user" value="{{.user}}" placeholder="Email" required autofocus>
  <input type="password" name="password" required>
  <input type="submit">
</form>

<h2>Register</h2>
<form method="post" action="/register" enctype="multipart/form-data">
  <input type="text" name="user" value="{{.user}}" placeholder="Email" required autofocus>
  <input type="submit">
</form>
